.bodybg{
    -fx-background-image: url(background.jpg);
    -fx-background-size: 100% 100%;
}
.text-field{
    -fx-border-image-source: url("border.png");
    -fx-border-image-width: 8;
    -fx-border-image-repeat: repeat;
    -fx-border-image-slice: 200;
}
.button{
    -fx-background-color: #FF8C00;
}